#library-pane {
    height: 200px;
    min-height: 16px;
    background-color: var(--unity-colors-box-background);
}

#library-pane Toolbar {
}

#library-pane TabView {
    overflow: hidden;
    min-height: 96px;
}

#library-pane TabView .unity-tab-view__content-container {
}

#library-pane .unity-scroll-view {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}

#project-view .unity-tree-view__item-content {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    align-self: center;
}

.library-view .unity-tab-view__header-container {
    flex-grow: 1;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.library-view .library-view_scan-warning {
    background-color: var(--unity-colors-app_toolbar-background);
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    border-top-left-radius: var(--unity-metrics-default-border_radius);
    border-top-right-radius: var(--unity-metrics-default-border_radius);
    border-bottom-right-radius: var(--unity-metrics-default-border_radius);
    border-bottom-left-radius: var(--unity-metrics-default-border_radius);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: var(--unity-colors-app_toolbar_button-background);
    border-bottom-color: var(--unity-colors-app_toolbar_button-background);
    border-right-color: var(--unity-colors-app_toolbar_button-background);
    margin-top: 0;
    margin-right: 2px;
    margin-bottom: 0;
    margin-left: 0;
    align-self: center;
    flex-direction: row;
    right: 100%;
    background-image: resource("Style/scan_warn_gradient");
    -unity-background-image-tint-color: rgba(255, 190, 7, 0.08);
    -unity-background-scale-mode: stretch-to-fill;
    background-size: 100px 100%;
    background-position-y: center;
    align-items: center;
    background-position-x: left 0;
    border-top-color: var(--unity-colors-app_toolbar_button-background);
}

.library-view .library-view_scan-warning:hover {
    background-size: 300px 100%;
    -unity-background-image-tint-color: rgba(176, 140, 62, 0.19);
}

.library-view .library-view_scan-warning .unity-button {
    margin-left: 2px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 1;
    padding-bottom: 1px;
    padding-top: 1px;
    font-size: var(--unity-metrics-default-font_semi_small_size);
    background-color: rgba(64, 64, 64, 0.72);
    border-left-color: rgba(70, 70, 70, 0.5);
    border-right-color: rgba(70, 70, 70, 0.5);
    border-top-color: rgba(70, 70, 70, 0.5);
    border-bottom-color: rgba(70, 70, 70, 0.5);
}

.library-view .library-view_scan-warning .unity-button:hover {
    border-left-color: rgb(70, 70, 70);
    border-right-color: rgb(70, 70, 70);
    border-top-color: rgb(70, 70, 70);
    border-bottom-color: rgb(70, 70, 70);
    background-color: rgb(78, 78, 78);
}

#labels-view ToolbarSearchField {
    margin-right: 4px;
    margin-left: 4px;
    align-self: stretch;
    width: auto;
    min-width: 0;
}

#labels-view .asset-label {
    margin-right: 4px;
    margin-top: 2px;
    margin-left: 4px;
    border-radius: 6px;
    border-width: 1px;
    font-size: var(--unity-metrics-default-font_semi_small_size);
    align-items: center;
    margin-bottom: 2px;
    flex-grow: 0;
    flex-direction: row;
    height: 20px;
    padding-left: 2px;
}

#labels-view .asset-label:enabled:hover {
    border-color: rgba(255, 255, 255, 0.2);
}

#labels-view .asset-label .asset-label_name {
    padding-left: 2px;
    text-overflow: ellipsis;
    flex-grow: 1;
}

#labels-view .asset-label .asset-label_counter {
    padding-right: 4px;
    min-width: 18px;
    -unity-text-align: upper-center;
}

#project-view #folder-name-field {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}
