.prefab-view {
    min-width: 150px;
    flex-grow: 1;
    width: 100%;
}

.prefab-view > .unity-scroll-view {
    flex-grow: 1;
    background-color: var(--unity-colors-box-background);
}

.prefab-view .unity-toolbar-search-field {
    flex-shrink: 1;
    max-width: 60%;
    width: 290px;
}
